
.allButtons {
	border-radius: 3px;
}

.menuButton {
	vertical-align: middle;
	padding: 3px;
}

.ui-button:hover {
	background-color: #F0F5F3; /* RGB: 240 245 243 */ 
	border: 1px solid #F0F5F3;
}

.highlighted-button {
	background-color: fuchsia;
	color: blue;
}

.bulkImportTextArea {
	background-color: white;
	width: 400pt;
	height: 800pt;
}

.lineComponent{
	margin-right: 1em;
	display: inline-block;
	vertical-align: middle;
}

.editImage{
	vertical-align: bottom;
}

.textLineComponent {
	margin-bottom: 0.3em;
}

.categoryZone {
	border-radius: 8px;
	border-color: #6633CC;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin: 2px;
}

.lineCategory{
	width: 29em;
}

.amount {
	font-weight: bold;
}

.neg {
	color: red;
}

.pos {
	color: green;
}



.dateLi {
	
}

.imageLi{
}

.labelLi{
	width: 20%;
}

.amountLi {
	min-width: 5%;
	text-align: right;
}

.categoLi {
	
}

 .tableFormLabel{
 	text-align: right;
 }
 
 .tableFormField {
 	text-align: left;
 }

.marginLeft {
	margin-left: 1em;
}

.vertTop{
	vertical-align: top;
}

.amountInput {
	width: 4em;
}

.plus {
	background-image: url("/simplebudget/javax.faces.resource/AddCategory.png.xhtml?ln=images") !important;
}

.plus-hover {
	background-image: url("/simplebudget/javax.faces.resource/AddCategory-hover.png.xhtml?ln=images") !important;
}

.remove {
	background-image: url("/simplebudget/javax.faces.resource/RemoveCategory.png.xhtml?ln=images") !important;
}

.remove-hover {
	background-image: url("/simplebudget/javax.faces.resource/RemoveCategory-hover.png.xhtml?ln=images") !important;
}

.autoCompleteTarget {
	border-style: solid !important;
	border-width: 3px !important;
}

.autoComplete{
	position: absolute;
}

.infoAutoCompleteTarget {
	border-color: #3a87ad !important;
}

.warnAutoCompleteTarget {
	border-color: #c09853 !important;
}

.invalidField{
	border-style: solid !important;
	border-width: 3px !important;
	border-color: red !important;
}

.validField{
	border-style: hidden !important;
	border-width: 3px !important;
	border-color: white !important;
}

/**
	Overrides Primefaces' theme
 **/
.ui-datascroller-list{
	padding-left: 25% !important;	
}